@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap');

$font-nunito: Nunito, Sans-serif;

$color-primary-light: #222266;
$color-primary-normal: #443355;
$color-primary-dark: #001133;
$color-fade: #C2857A;
$color-fade-2: hsla(9, 37%, 62%, 0.1);
$color-contrast: #FF9016;
$color-test: #0B1EB3;
$color-test-2: #1C37FF;
$color-primary: #0275d8;

$color-white: #FAF8F8;
$color-gray: #E2DADA;

$font-xs: scut-rem(10px);
$font-sm: scut-rem(12px);
$font-md: scut-rem(16px);
$font-lg: scut-rem(18px);
$font-xl: scut-rem(28px);
$font-xxl: scut-rem(42px);

